<h1>Hello <%= @author.name %></h1>
<ul>
  <li><%= link_to 'my books', authors_books_path %></li>
  <li><%= link_to 'new book', new_authors_book_path %></li>

  <li><%= link_to 'edit profile', edit_author_registration_path %></li>
  <li><%= link_to 'my books', authors_books_path %></li>

  <li><%= link_to 'my books', authors_books_path %></li>
</ul>
