<h1>New Book</h1>

<%= form_with model: @book do |f| %>
  <div>
    <%= f.label :image_url%><br>
    <%= f.text_field :image_url %>
  </div>

  <div>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :author_id %><br>
    <%= f.text_field :author_id %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<%end%>