<%= render partial: 'templates/book', locals: { book:book, classes_for_book: "BookImage-large" } %>

<%= link_to "edit", edit_authors_book_path if current_author == book.author%>
<p>Title: <%= book.title %></p>
<p>Author: <%= book.author.name %></p>

<h3>Chapters</h3>
<% book.chapters.each do |chapter| %>
    <a href=<%= "#{book.id}/chapters/#{chapter.id}" %>>
    <%= render partial: 'templates/chapter', locals: { chapter: chapter } %>
    </a><br><br>
<% end %>
