<h1>New Book</h1>

<%= form_for book, url: { action: :create } do |f| %>
  <div>
    <%= f.label :image_url%><br>
    <%= f.text_field :image_url %>
  </div>

  <div>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<%end%>
