<%# this should not exist unless its only purpose is to create a chapter (maybe if I want to to make chapter creation more robust later ) %>

<%= render partial: 'templates/book', locals: { book:book, scale: "25%" } %>

<p>Title: <%= book.title %></p>
<p>Author: <%= book.author %></p>

<br>
<br>
<h3>Chapters</h3>
<% book.chapters.each do |chapter| %>
    <a href=/chapter/<%= chapter.id %>>
    <%= render partial: 'templates/chapter', locals: { chapter: chapter } %>
    </a><br><br>
<% end %>

<%= form_with model: [book, chapter] do |f| %>
  <div>
    <%= f.submit %>
  </div>
<%end%>